<%= form_for(user_jogo) do |f| %>
  <% if user_jogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_jogo.errors.count, "error") %> prohibited this user_jogo from being saved:</h2>

      <ul>
      <% user_jogo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Usuario" %>
    <%= select("user_jogo", "user_id", User.all.collect {|usuario| [ usuario.nome, usuario.id ] }, {prompt: 'Selecione o Usuario'})%>
  </div>

  <div class="field">
    <%= f.label "Jogo" %>
    <%= select("user_jogo", "jogo_id", Jogo.all.collect {|jogos| [ jogos.nome, jogos.id ] }, {prompt: 'Selecione o Jogo'})%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
